.container {
    border: 1px rgb(168, 166, 166) solid;
    border-radius: 5px;
    background-color: white;
    margin:9px;
    padding: 2px;
    display: flex;
    
}

img {
    float: left;
    width:  150px;
    height: 150px;
    object-fit: cover;
}

.title {
    font-weight: bold;
    text-align : center;
    font-size: 14px;
}

a {
    text-decoration: none;
}

a:link {
    color: rgb(159, 159, 159);
}
a:visited {
    color: green;
}
a:hover {
    color: hotpink;
}
a:active {
    color: blue;
}